img{
    width: 200px;
    height: 200px;
}
h1, h2{
    color: cadetblue;
}
a{
    color: firebrick;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
span{
    font-weight: bold;
    font-size: large;
    color: brown;
}